body {
  margin: 0;
  padding: 50px;
  font-size: 16px;
  color: white;
  background-color: #212121;
}

p {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: white;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 45px;
  color: white;
}

header {
  top: 0;
  width: 100%;
  padding: 50;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  background-color: #212121;
}

nav a {
  margin: 29px;
  font-family: Arial, sans-serif;
  font-size: 32px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #96c7ee;
}

.project-title {
  font-family: Arial, sans-serif;
  font-size: 32px;
  color: white;
}

#name{
  font-family: Arial, sans-serif;
  font-size: 75px;
  color: white
}

#tagline {
  font-family: Arial, sans-serif;
  font-size: 29px;
  color: white
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.tabs {
  font-family: Arial, sans-serif;
  font-size: 75px;
  color: white
}
